body {
    background-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0A3871;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #0A3871;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.item-1 {
    text-align: center;
    padding-top: 70px;
    width: auto;
    height: auto;
    margin: 20px;
}

.item-2 {
    padding-top: 180px;
    margin: 5px;
    width: 600px;
    height: 400px;
}

textarea {
    width: 500px;
    height: 350px;
    font-family: 'Inter', sans-serif;
    border: none;
    background-color: #E5E5E5;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    resize: none;
    border-radius: 10px;
    padding-top: 14px;
    padding-left: 14px;
}


textarea:focus {
    outline: none !important;
}

.item-3 {
    margin: 20px;
    width: 400px;
    height: 700px;
    margin-top: 70px;
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munieco {
    padding-top: 140px;
    padding-left: 25px;
}


.mensaje-1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
}

.mensaje-2 {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */

    color: #495057;
}

.mensaje-3 {
    position: absolute;
    top: 100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    text-align: left;
    margin-left: 13px;
    color: #495057;
    width: 390px;
}

.btn-copiar {
    width: 288px;
    height: 50px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-color: #0A3871;
    border: none;
    color: #0A3871;
    margin-left: 55px;
    cursor: pointer;
    position: absolute;
    top: 80px;
}

button:hover {
    opacity: 0.7;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;

}

.encriptar {
    width: 280px;
    height: 50px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    background: #0A3871;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
}

.desencriptar {
    width: 280px;
    height: 50px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;

}

.aviso {
    margin-top: 10px;

}

.aviso img {
    position: absolute;
    top: 551px;
}

.aviso-texto {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    margin-top: 10px;
    margin-left: 20px;
}


footer {
    text-align: center;
    background: #0A3871;
}

footer a {
    border-bottom: 1px solid #666;
    color: #eee;
    font: 24px/180px 'Inter', serif;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    footer {
        font-size: 20px;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .aviso img {
        position: absolute;
        top: 484px;
    }

    .mensaje-3 {
        position: absolute;
        margin-top: 580px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        text-align: left;
        margin-left: 10px;
        color: #495057;
        width: 294px;
    }

    div .item-3 img {
        display: none;
    }

    div .item-3 {
        margin-bottom: 89px;
        padding-top: 30px;
        margin-top: 165px;
        margin-left: 50px;
        height: 300px;
        width: 600px;
    }


    div .item-3 .btn-copiar {
        margin-left: 145px;
        position: absolute;
        top: 370px;
    }

    div .item-2 textarea {
        width: 85%;
        margin: 0;
        margin-left: 10px;
        margin-top: -120px;
    }

    div .item-2 {
        width: 100%;
    }

    div .item-2 .aviso {
        margin-left: 80px;
    }

    div .item-2 .aviso-texto {
        font-size: 15px;
        margin-left: 20px;
    }

    div .item-2 .botones {
        margin-left: -5px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
    }

    div .item-2 .botones .encriptar {
        width: 280px;
        height: 60px;
        margin-right: 15px;
    }

    div .item-2 .botones .desencriptar {
        width: 280px;
        height: 60px;
        margin-right: 15px;
    }

    div .item-1 img {
        margin-left: -650px;
        margin-bottom: 0;
    }

    div .item-1 {
        padding-top: 0%;
        margin: 0%;
    }
}

@media screen and (max-width: 480px) {
    footer {
        width: 100%;
    }

    footer a {
        font-size: 15px;
    }

    .container {
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-self: center;
    }

    div .item-1 {
        width: 140%;
        height: 10%;
        margin-right: 10px;
        margin-bottom: -20%;
    }

    div .item-1 img {
        padding: 0%;
        margin: 0%;
        margin-bottom: 5%;
        margin-right: 400px;
    }

    div .item-2 {
        margin-left: 0%;
    }

    div .item-2 .aviso {
        margin-left: 0%;
    }

    div .item-2 textarea {
        width: 90%;
        margin-left: 2px;

    }

    textarea::placeholder {
        padding-left: 10px;
    }

    div .item-2 .aviso-texto {
        font-size: 13px;
        margin: 0px;
        align-items: center;
        margin-left: 70px;
    }

    .aviso img {
        position: absolute;
        top: 430px;
        margin-left: 49px;
    }

    div .item-2 .botones {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }

    div .item-2 .botones .encriptar {
        width: 300px;
        font-size: 20px;
        margin-right: 40px;
        height: 70px;
    }

    div .item-2 .botones .desencriptar {
        width: 300px;
        font-size: 20px;
        margin-right: 40px;
        height: 70px;
    }

    div .item-3 {
        margin-top: 250px;
        margin-left: 20px;
        margin-bottom: 10%;
        height: 290px;
        width: 530px !important;
    }

    div .item-3 .mensaje-1 {
        padding-top: 15px;
        font-size: 25px;

    }

    div .item-3 .mensaje-2 {
        padding-top: 10px;
        font-size: 28px;
    }

    div .item-3 .btn-copiar {
        position: absolute;
        top: 380px;
        right: 85px;
    }

}

@media screen and (max-width: 375px) {
    footer {
        width: 100%;
    }

    footer a {
        font-size: 15px;
    }

    .container {
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-self: center;
    }

    div .item-1 {
        width: 140%;
        height: 10%;
        margin-right: 10px;
        margin-bottom: -20%;
    }

    div .item-1 img {
        padding: 0%;
        margin: 0%;
        margin-bottom: 0%;
        margin-left: -85%;
    }

    div .item-2 {
        margin-left: 0%;
    }

    div .item-2 .aviso {
        margin-left: 0%;
    }

    div .item-2 textarea {
        width: 90%;
        margin-left: 2px;

    }

    textarea::placeholder {
        padding-left: 10px;
    }

    div .item-2 .aviso-texto {
        font-size: 13px;
        margin: 0px;
        align-items: center;
        margin-left: 70px;
    }

    .aviso img {
        position: absolute;
        top: 430px;
        margin-left: 49px;
    }

    div .item-2 .botones {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }

    div .item-2 .botones .encriptar {
        width: 300px;
        font-size: 20px;
        margin-right: -10px;
        height: 70px;
    }

    div .item-2 .botones .desencriptar {
        width: 300px;
        font-size: 20px;
        margin-right: -10px;
        height: 70px;
    }

    div .item-3 {
        margin-top: 250px;
        margin-left: 20px;
        margin-bottom: 10%;
        height: 290px;
        width: 530px !important;
    }

    div .item-3 .mensaje-1 {
        padding-top: 15px;
        font-size: 25px;

    }

    div .item-3 .mensaje-2 {
        padding-top: 10px;
        font-size: 28px;
    }

    div .item-3 .btn-copiar {
        position: absolute;
        top: 380px;
        right: 35px;
    }

}